<html>
<div class="container">
    <div class="logo">
        <img src="../assets/remove.png" alt="remove" >
    </div>
    <div class="col">
    </div>
    <div class="card1" style="width: 18rem;">
        <img src="../assets/joli3.jpg" class="card-img-top" alt="jabee">
        <div class="card-body">
          <h5 class="card-title">ㅤ</h5>
        </div>
      </div>
      <div class="card2" style="width: 18rem;">
        <img src="../assets/joli1.jpg" class="card-img-top" alt="jabee">
        <div class="card-body">
          <h5 class="card-title">ㅤ</h5>
        </div>
      </div>
      <div class="card3" style="width: 18rem;">
        <img src="../assets/joli2.jpg" class="card-img-top" alt="jabee">
        <div class="card-body">
          <h5 class="card-title">ㅤ</h5>
        </div>
      </div>
      <div class="card4" style="width: 18rem;">
        <img src="../assets/joli4.jpg" class="card-img-top" alt="jabee">
        <div class="card-body">
          <h5 class="card-title">ㅤ</h5>
        </div>
      </div>
      <div class="card5" style="width: 18rem;">
        <img src="../assets/joli5.jpg" class="card-img-top" alt="jabee">
        <div class="card-body">
          <h5 class="card-title">ㅤ</h5>
        </div>
      </div>
      <div class="card6" style="width: 18rem;">
        <img src="../assets/joli6.jpg" class="card-img-top" alt="jabee">
        <div class="card-body">
          <h5 class="card-title">ㅤ</h5>
        </div>
      </div>
</div>
</html>