<h1>Who We Are</h1>
<p>Jollibee is the largest fast-food chain brand in the Philippines, operating a network of more than 1,400 stores.
    A dominant market leader in the Philippines, Jollibee enjoys the lion's share of the local market
    that is more than all the other multinational fastfood brands in PH combined. With a strict adherence to
    the highest standards of food quality, service and cleanliness, Jollibee serve great-tasting, high-quality
    and affordable food products to include its superior-tasting Chickenjoy, mouth-watering Yumburger
    and deliciously satisfying Jolly Spaghetti among other delicious products.</p>
    <p>Jollibee has embarked on an aggressive international expansion plan, with more than 270 international
        branches in the United States, Canada, Hong Kong, Macau, Brunei, Vietnam, Singapore, Malaysia, Saudi
        Arabia, United Arab Emirates, Qatar, Oman, Kuwait, Bahrain, Italy, and in the United Kingdom.</p>
