<div class="listss">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/chikin.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Chickenjoy</h5>
              <p class="card-text">A drumstick and thigh of our signature Chickenjoy fried chicken served with 1 side. Served with a side of gravy for dipping. Choose from regular and spicy.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/bucket.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Bucket Meals</h5>
              <p class="card-text">6 Pc Chickenjoy Bucket, Jolly Spaghetti Family Pack and 3 Peach Mango Pies</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/steak.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Burger Steaks</h5>
              <p class="card-text">2 Savory sweet beef burger patties smothered with mushroom gravy, best paired with rice</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="listss">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/rice.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Rice</h5>
              <p class="card-text">a side of steamed rice</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/creampie.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Peach Mango Pies</h5>
              <p class="card-text">Sweet and flaky Peach Mango Pie made with real Philippine mangoes</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/coke.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Pineapple</h5>
              <p class="card-text">A sweet taste of the Philippines with our signature Pineapple Quencher juice drink</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="out">
  <div>
      <h5>ID</h5>
      <p  *ngFor="let prod of Products; let i = index">
          {{prod.id}}
      </p>
  </div>
  <div>
      <h5>Product Name</h5>
      <p  *ngFor="let prod of Products; let i = index">
          {{prod.name}}
      </p>
  </div>
  <div>
      <h5>Description</h5>
      <p  *ngFor="let prod of Products; let i = index">
          {{prod.description}}
      </p>
  </div>
