<div class="cota">
    <div class="pot">
        <div class="title">
            <h1>Send Us a Message</h1>
            </div>
            <div class="picture">
                <img src="../assets/loc.jpg" alt="">
            </div>
            <div class="text">
                <p>It is our commitment to serve quality, great-tasting food that offers value for money, friendly and efficient service, a clean in-store environment plus the universal appeal of the family values that our brand represents that drive our growth.
                    Need assistance? Send us a message using the form or review answers to common inquiries in the FAQs below.</p>
                </div>
    </div>
    <div class="tet">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@email.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Comment or Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
            <button class="btn btn-primary" type="button">Submit</button>
          </div>
        </div>
</div>

