<div class="lists">
    <div class="card" style="width: 18rem;">
        <img src="../assets/chikin.png" class="card-img-top" alt="jabee">
        <div class="card-body">
          <p class="card-text">Chickenjoy</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../assets/bucket.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Family Bucket Meals</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../assets/steak.png" class="card-img-top" alt="jabee">
        <div class="card-body">
          <p class="card-text">Burger Steaks</p>
        </div>
      </div>
</div>
<div class="lists">
    <div class="card" style="width: 18rem;">
        <img src="../assets/rice.jpg" class="card-img-top" alt="jabee">
        <div class="card-body">
          <p class="card-text">Extra Rice</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../assets/creampie.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Peach Mango Pies</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../assets/coke.jpg" class="card-img-top" alt="jabee">
        <div class="card-body">
          <p class="card-text">Beverages</p>
        </div>
      </div>
</div>